<h1>Usuarios</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Agregar usuario</a>
<div>
    <thead>
        <tr>
            <th style="width: 30%">Nombre</th>
            <th style="width: 30%">Apellido</th>
            <th style="width: 30%">Usuario</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody *ngIf="users && users.length > 0">
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary me-1">Editar</a>
                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Eliminar</span>
                </button>
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="users && users.length === 0">
        <tr>
            <td colspan="4" class="text-center">No se encontraron usuarios.</td>
        </tr>
    </tbody>
    <tbody *ngIf="!users">
        <tr>
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</div>
